<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>391802242998-v9vgpilv79rp7fc8m2ok5nugb3gn6tfi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.391802242998-v9vgpilv79rp7fc8m2ok5nugb3gn6tfi</string>
	<key>API_KEY</key>
	<string>AIzaSyAjhg5CvY6Sma1SUWm48wb6-fV7AGmG3Y0</string>
	<key>GCM_SENDER_ID</key>
	<string>391802242998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joshualeung.Lyve</string>
	<key>PROJECT_ID</key>
	<string>streamly-c4f5c</string>
	<key>STORAGE_BUCKET</key>
	<string>streamly-c4f5c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391802242998:ios:51ec03a5118c2dd3a12317</string>
	<key>DATABASE_URL</key>
	<string>https://streamly-c4f5c.firebaseio.com</string>
</dict>
</plist>